<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="pl">
<head>
    <title>Inventory panel</title>
    <meta charset="UTF-8">
</head>
<body>
<h3>Magazyn</h3>
<div class="horizontal_panel">
    <table>
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Ilość</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.quantity}"></td>
        </tr>
        </tbody>
    </table>
    <div class="label_div">
        <h2>Dodaj przedmiot</h2>
        <form th:action="@{/add_item}" th:object="${newItem}" method="post">
            <div>
                <label for="name">Nazwa:</label>
                <input type="text" id="name" th:field="*{name}" required>
            </div>
            <div>
                <label for="price">Cena:</label>
                <input type="number" id="price" th:field="*{price}" required>
            </div>
            <div>
                <label for="quantity">Ilość:</label>
                <input type="number" id="quantity" th:field="*{quantity}" required>
            </div>
            <button type="submit">Dodaj przedmiot</button>
        </form>
    </div>
</div>
</body>
</html>
