<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<nav>
    <a href="/employees" class="menu_item"
       sec:authorize="hasRole('ADMIN') or hasRole('MANAGER')">Pracownicy</a>
    <a href="/workshops" class="menu_item"
       sec:authorize="hasRole('ADMIN') or hasRole('MANAGER')">Serwisy</a>
    <a href="/inventory" class="menu_item"
       sec:authorize="hasRole('ADMIN') or hasRole('MANAGER') or hasRole('ACCOUNTANT')">Magazyn</a>
    <a href="/individual_clients" class="menu_item"
       sec:authorize="hasRole('ADMIN') or hasRole('MANAGER') or hasRole('ACCOUNTANT') or hasRole('MECHANIC')">
        Klienci indywidualni</a>
    <a href="/company_clients" class="menu_item"
       sec:authorize="hasRole('ADMIN') or hasRole('MANAGER') or hasRole('ACCOUNTANT') or hasRole('MECHANIC')">
        Klienci biznesowi</a>
    <a href="/cars" class="menu_item"
       sec:authorize="hasRole('CLIENT')">Flota</a>
    <a href="/commissions" class="menu_item"
       sec:authorize="hasRole('ADMIN') or hasRole('MANAGER') or hasRole('MECHANIC')">Zlecenia</a>
    <a href="/tasks" class="menu_item"
       sec:authorize="hasRole('ADMIN') or hasRole('MANAGER') or hasRole('MECHANIC')">Zadania</a>
    <a href="/services" class="menu_item"
       sec:authorize="hasRole('ADMIN') or hasRole('MANAGER') or hasRole('MECHANIC') or hasRole('CLIENT')">Usługi</a>
    <a href="/logout" class="menu_item logout_button">Wyloguj</a>
</nav>
</body>
</html>