<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="pl">
<head>
    <title>Service panel</title>
    <meta charset="UTF-8">
</head>
<body>
<h3>Serwisy</h3>
<div class="horizontal_panel">
    <table>
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Adres</th>
            <th>Telefon</th>
            <th>Opis</th>
            <th>Pracownicy</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workshop : ${workshops}">
            <td th:text="${workshop.name}"></td>
            <td th:text="${workshop.address}"></td>
            <td th:text="${workshop.phone}"></td>
            <td th:text="${workshop.description}"></td>
            <td>
                <ul>
                    <li th:each="employee : ${workshop.employees}">
                        <span th:text="|${employee.role}: ${employee.firstName} ${employee.lastName}|"></span>
                    </li>
                </ul>
            </td>
        </tbody>
    </table>
    <div class="label_div">
        <h2>Dodaj serwis</h2>
        <form th:action="@{/add_workshop}" th:object="${newWorkshop}" method="post">
            <div>
                <label for="name">Nazwa:</label>
                <input type="text" id="name" th:field="*{name}" required>
            </div>
            <div>
                <label for="address">Adres:</label>
                <input type="text" id="address" th:field="*{address}" required>
            </div>
            <div>
                <label for="phone">Numer telefonu:</label>
                <input type="text" id="phone" th:field="*{phone}" required>
            </div>
            <div>
                <label for="description">Opis:</label>
                <input type="text" id="description" th:field="*{description}" required>
            </div>
            <button type="submit">Dodaj serwis</button>
        </form>
    </div>
</div>
</body>
</html>
