nav {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

nav .menu_item {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-decoration: none;
    color: black;
}

nav .menu_item:hover {
    background-color: #ddd;
}

nav .logout_button {
    color: white !important;
    float: right !important;
    margin: 0;
    background-color: #007bff !important;
}

#content {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.horizontal_panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 10px;
}

.vertical_panel {
    display: flex;
    flex-direction: column;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

form {
    margin-top: 20px;
    width: 100%;
}

form div {
    margin-bottom: 10px;
    width: 90%;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="number"],
form input[type="email"],
form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.form_panel {
    width: 20%;
    display: inline-block;
    margin-left: 10px;
}

.horizontal_panel .link {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.horizontal_panel .link:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
