<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>CarService</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
</head>
<body>
<div id="menu" th:insert="~{fragments/menu :: body}"></div>
<div id="content">
    <div class="horizontal_panel">
        <div class="vertical_panel">
            <p th:text="|Marka: ${car.brand}|"></p>
            <p th:text="|Model: ${car.model}|"></p>
            <p th:text="|Rok produkcji: ${car.year}|"></p>
            <figure>
                <figcaption>Historia zleceń</figcaption>
                <ul>
                    <li th:each="commission : ${car.commissions}">
                        <p th:text="|Data zlecenia: ${commission.commissionedAt}|"></p>
                        <p th:text="|Data ukończenia: ${commission.finishedAt}|"></p>
                        <p th:text="|Status: ${commission.status}|"></p>
                        <ul>
                            <li th:each="service : ${commission.services}"
                                th:text="|${service.service.name} ${service.service.cost}|"></li>
                        </ul>
                    </li>
                </ul>
            </figure>
        </div>
        <div class="vertical_panel form_panel">
            <h3>Złóż zlecenie</h3>
            <form th:action="@{/commissions}" th:object="${newCommission}" method="post">
                <input type="hidden" id="car" name="carId" th:value="${car.id}"/>
                <div>
                    <label for="services">Usługi:</label>
                    <select id="services" name="serviceIds" multiple>
                        <option th:each="service: ${services}"
                                th:value="${service.id}" th:text="${service.name}"></option>
                    </select>
                </div>
                <div>
                    <label for="workshop">Serwis:</label>
                    <select id="workshop" name="workshopId" required>
                        <option th:each="workshop : ${workshops}"
                                th:value="${workshop.id}" th:text="${workshop.name}"></option>
                    </select>
                </div>
                <div>
                    <button type="submit">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>