<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>CarService</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
</head>
<body>
<div id="menu" th:insert="~{fragments/menu :: body}"></div>
<div id="content">
    <h3>Flota</h3>
    <div class="horizontal_panel">
        <table>
            <thead>
            <tr>
                <th>Marka</th>
                <th>Model</th>
                <th>Rok produkcji</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${cars}">
                <td><a class="link" th:href="@{/car/{id}(id=${car.id})}" th:text="${car.brand}"></a></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.year}"></td>
            </tr>
        </table>
        <div class="form_panel">
            <h2>Dodaj pojazd</h2>
            <form th:action="@{/add_car}" th:object="${newCar}" method="post">
                <div>
                    <label for="brand">Marka:</label>
                    <input type="text" id="brand" name="brand" required th:field="*{brand}">
                </div>
                <div>
                    <label for="model">Model:</label>
                    <input type="text" id="model" name="model" required th:field="*{model}">
                </div>
                <div>
                    <label for="year">Rok produkcji:</label>
                    <input type="number" id="year" name="year" th:field="*{year}"
                           value="2010" min="1900" max="2025" required>
                </div>
                <button type="submit">Dodaj pojazd</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
