<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CarService</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
</head>
<body>
<div id="menu" th:insert="~{fragments/menu :: body}"></div>
<div id="content">
    <h3>Zlecenia</h3>
    <div class="horizontal_panel">
        <table>
            <thead>
            <tr>
                <th> Id </th>
                <th> Usługi </th>
                <th> Status </th>
                <th> Data zlecenia </th>
                <th> Data ukończenia </th>
                <th> Samochód </th>
                <th> Serwis </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="commission : ${commissions}">
                <td th:text="${commission.id}"></td>
                <td>
                    <ul>
                        <li th:each="service : ${commission.services}" th:text="${service.service.name}"></li>
                    </ul>
                </td>
                <td th:text="${commission.status}"></td>
                <td th:text="${commission.commissionedAt}"></td>
                <td th:text="${commission.finishedAt}"></td>
                <td th:text="${commission.car}"></td>
                <td th:text="${commission.workshop}"></td>
            </tr>
            </tbody>
        </table>
        <div class="label_div">
        <h3>Dodaj nowe zlecenie</h3>
            <form th:action="@{/commissions}" method="post">
                <div>
                    <label for="services">Usługi:</label>
                    <select id="services" name="serviceIds" multiple>
                        <option value="" disabled>Select services</option>
                        <th:block th:each="service : ${services}">
                            <option th:value="${service.id}" th:text="${service.name}"></option>
                        </th:block>
                    </select>
                </div>
                <div>
                    <label for="status">Status:</label>
                    <select id="status" name="status" required>
                        <th:block th:each="status : ${workStatuses}">
                            <option th:value="${status}" th:text="${status.name()}"></option>
                        </th:block>
                    </select>
                </div>
                <div>
                    <label for="commissionedAt">Data zlecenia:</label>
                    <input type="datetime-local" id="commissionedAt" name="commissionedAt" th:value="${#calendars.format(#calendars.createNow(), 'dd MMM yyyy HH:mm')}" required>
                </div>
                <div>
                    <label for="finishedAt">Data ukończenia:</label>
                    <input type="date" id="finishedAt" name="finishedAt">
                </div>
                <div>
                    <label for="car">Samochód:</label>
                    <select id="car" name="carId" required>
                        <option value="" disabled>Select car</option>
                        <th:block th:each="car : ${cars}">
                            <option th:value="${car.id}" th:text="${car.brand}"></option>
                        </th:block>
                    </select>
                </div>
                <div>
                    <label for="workshop">Serwis:</label>
                    <select id="workshop" name="workshopId" required>
                        <option value="" disabled>Select workshop</option>
                        <th:block th:each="workshop : ${workshops}">
                            <option th:value="${workshop.id}" th:text="${workshop.name}"></option>
                        </th:block>
                    </select>
                </div>
                <div>
                    <button type="submit">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>