<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Logowanie</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/login_register.css"/>
</head>
<body id="login_page">
<form id="login_form" th:action="@{/login}" method="post">
    <div>
        <label for="username">E-mail:</label>
        <input type="email" id="username" name="username"/>
    </div>
    <div>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password"/>
    </div>
    <div>
        <button type="submit">Zaloguj</button>
    </div>
    <div>
        <a href="/register">Zarejestruj</a>
    </div>
</form>
</body>
</html>