<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" type="text/css" href="/css/login_register.css"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <script th:src="@{/js/scripts.js}"></script>
</head>
<body onload="toggleClientData()">
<form th:action="@{/register}" th:object="${newUser}" method="post">
    <div>
        <label for="username">E-mail:</label>
        <input type="email" id="username" name="username" required th:field="*{email}">
    </div>
    <div>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required th:field="*{password}">
    </div>
    <div id="client_type_selector">
        <label>
            <input type="radio" id="individual" name="client_type" value="individual" onclick="toggleClientData()" checked>Osoba fizyczna
        </label>
        <label>
            <input type="radio" id="company" name="client_type" value="company" onclick="toggleClientData()">Firma
        </label>
    </div>
    <div id="individual_client_data">
        <div>
            <label for="first_name">Imię:</label>
            <input type="text" id="first_name" name="first_name" required th:field="*{firstName}">
        </div>
        <div>
            <label for="last_name">Nazwisko:</label>
            <input type="text" id="last_name" name="last_name" required th:field="*{lastName}">
        </div>
    </div>
    <div id="company_client_data">
        <div>
            <label for="name">Nazwa</label>
            <input type="text" id="name" name="name" th:field="*{firstName}">
        </div>
        <div>
            <label for="tin">NIP:</label>
            <input type="text" id="tin" name="tin" minlength="10" maxlength="10" th:field="*{TIN}">
        </div>
    </div>
    <div>
        <button type="submit">Zarejestruj</button>
    </div>
    <div>
        <a href="/">Wróć</a>
    </div>
</form>
</body>
</html>