<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CarService</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
</head>
<body>
<div id="menu" th:insert="~{fragments/menu :: body}"></div>
<div id="content">
    <h3>Usługi</h3>
    <div class="horizontal_panel">
        <table>
            <thead>
            <tr>
                <th> Id </th>
                <th> Nazwa </th>
                <th> Opis </th>
                <th> Koszt </th>
                <th> Zlecenia </th>
                <th> Zadania </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="service : ${services}">
                <td th:text="${service.id}"></td>
                <td th:text="${service.name}"></td>
                <td th:text="${service.description}"></td>
                <td th:text="${#numbers.formatDecimal(service.cost, 1, 2)}"></td>
                <td>
                    <ul>
                        <li th:each="commission : ${service.commissions}" th:text="${commission.id}"></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li th:each="task : ${service.tasks}" th:text="${task.name}"></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <div sec:authorize="hasRole('ADMIN') or hasRole('MANAGER') or hasRole('MECHANIC')">
            <h3>Dodaj nową usługę</h3>
            <form th:action="@{/services}" method="post" th:object="${newService}">
                <div>
                    <label for="name">Nazwa:</label>
                    <input type="text" id="name" name="name" required th:field="*{name}">
                </div>
                <div>
                    <label for="description">Opis:</label>
                    <input type="text" id="description" name="description" required th:field="*{description}">
                </div>
                <div>
                    <label for="tasks">Zadania:</label>
                    <select id="tasks" name="taskIds" multiple required>
                        <option th:each="task : ${allTasks}" th:value="${task.id}" th:text="${task.name}"></option>
                    </select>
                </div>
                <div>
                    <button type="submit">Dodaj</button>
                </div>
            </form>
        </div>
</div>
</body>
</html>