<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="pl">
<head>
    <title>CarService</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
</head>
<body>
<div id="menu" th:insert="~{fragments/menu :: body}"></div>
<div id="content">
    <h3>Przypisanie pracownika do serwisu</h3>
    <div class="horizontal_panel">
        <div class="vertical_panel">
            <h4>Dostępne Serwisy</h4>
            <table>
                <thead>
                <tr>
                    <th>Nazwa Serwisu</th>
                    <th>Opis</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="workshop : ${workshops}">
                    <td th:text="${workshop.name}"></td>
                    <td th:text="${workshop.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="vertical_panel">
            <h4>Dostępni Użytkownicy</h4>
            <table>
                <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>E-Mail</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.email}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="vertical_panel">
            <h4>Przypisz użytkownika do serwisu</h4>
            <form th:action="@{/assign_user_to_service}" method="post">
                <div>
                    <label for="user">Użytkownik:</label>
                    <select id="user" name="userId" required>
                        <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.firstName} + ' ' + ${employee.lastName}"></option>
                    </select>
                </div>
                <div>
                    <label for="workshop">Serwis:</label>
                    <select id="workshop" name="serviceId" required>
                        <option th:each="workshop : ${workshops}" th:value="${workshop.id}" th:text="${workshop.name}"></option>
                    </select>
                </div>
                <button type="submit">Przypisz</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
